# Ignore files without extension
*
!*/
!*.*

*.docx
*.doc
*.jpg
*.jpeg
*.png
*.pdf
*.gif
*.epub
*.xml
*.json
*.rels

test.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
