# Ignore files without extension
*
!*/
!*.*

*.docx
*.doc
*.jpg
*.jpeg
*.png
*.pdf
*.gif
*.epub
*.xml
*.json
*.rels
*.log

test.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Input/Output folders
0 - Input
0 - Output
0 - Output - main
0 - Output chapters
Convertio