/* Title */
title {
    color: black;
    font-family: "Cambria", serif;
    font-size: 36pt;
    margin-top: 45pt;
    margin-bottom:45pt;
    text-align:center;
    page-break-before:always;
}
/* Heading 1 */
h2 {
    color: black;
    font-family: "Palatino Linotype", serif;
    font-size: 36pt;
    font-weight: normal;
    margin: 0pt 0pt 6pt;
    margin-top: 45pt;
    margin-bottom: 45pt;
    text-align:center;
    page-break-before:always;
    page-break-inside:avoid;
    page-break-after:avoid;
}
/* Subtitle */
h3 {
    color: black;
    font-family: "Palatino Linotype", serif;
    font-size: 9pt;
    margin-bottom:45pt;
    text-align:center;
}
/* Norma */
p {
    color: black;
    font-family: "Palatino Linotype", serif;
    font-size: 10pt;
}